* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-segoe;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}

.blue-box {
	color: #fff;
	padding: 25px 0;
	font-size: 18px;
	line-height: 28px;
	font-style: italic;
	background: #5792e8;
	text-align: center;


	.blue-link {
		color: #fff;
		min-height: 30px;
		font-size: 22px;
		font-weight: 200;
		line-height: 30px;
		font-style: normal;
		display: inline-block;
		font-family: $font-din;
		vertical-align: middle;

		a {
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			border-bottom: 1px solid #92b8f0;
		}
	}

	@media (min-width: $screen-sm-min) {

		.blue-box-text {
			text-align: center;
			padding: 15px 70px;

			&.blue-box-quote {
				background: url("../img/quote-light.png") 0 0 no-repeat;
			}

			&.blue-box-alert {
				padding: 15px 50px;
				background: url("../img/icon-alert.png") 0 0 no-repeat;
			}
		}

		.blue-link {
			padding-left: 55px;
			background: url("../img/icon-youtube.png") 0 50% no-repeat;
		}
	}
}

.modal-box {
	width: 260px;
	position: relative;

	@media (min-width: $screen-sm-min) {
		width: 380px;
	}
}

.modal-text {
	font-size: 16px;
	line-height: 24px;
	padding: 30px 20px;
}

.btn-close {
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	color: #000;
	font-size: 16px;
	cursor: pointer;
	position: absolute;
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h2 {
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	font-family: $font-din;
	margin-bottom: 30px;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
