.b03 {
	color: #fff;
	min-height: 530px;
	padding-top: 80px;
	padding-bottom: 60px;
	background: #5792e8;

	.h2 {
		font-size: 28px;
		font-weight: 500;
		line-height: 32px;
		text-align: center;
		position: relative;
		margin-bottom: 30px;
		font-family: $font-din;
	}

	.text {

	}

	.author-name {
		font-size: 24px;
		font-weight: 500;
		line-height: 26px;
		margin-bottom: 30px;
		font-family: $font-din;

		span {
			font-size: 17px;
			font-weight: 400;
		}
	}

	.author-text {
		font-size: 17px;
		font-weight: 300;
		line-height: 30px;
	}

	@media (min-width: $screen-sm-min) {
		background: #5792e8 url("../img/b03_bg.jpg") 50% 100% no-repeat;

		.h2 {
			font-size: 36px;
			line-height: 40px;
			padding-bottom: 10px;

			&:before {
				left: 50%;
				bottom: 0;
				content: '';
				width: 230px;
				color: #71a5f2;
				margin-left: -115px;
				position: absolute;
				border-bottom: 1px solid #71a5f2;
			}
		}

		.author-text {
			padding-left: 40px;
		}

		.text {
			margin-left: 100px;
		}
	}

	@media (min-width: $screen-md-min) {

		.text {
			margin-left: 250px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.text {
			margin-left: 400px;
		}
	}
}