.b06 {
	background: url("../img/b06_bg.jpg") 50% 0 no-repeat;
	background-size: cover;

	.text-block {
		padding-top: 40px;
		text-align: center;
		padding-bottom: 40px;
	}


	.h2 {
		color: #444;
		font-size: 30px;
		line-height: 1;
		font-weight: 500;
		margin-bottom: 10px;
		font-family: $font-din;
		text-transform: uppercase;
	}

	.h3 {
		color: #444;
		font-size: 30px;
		line-height: 1.3;
		font-weight: 200;
		margin-bottom: 30px;
		font-family: $font-din;
	}

	.text {
		font-size: 16px;
		font-weight: 300;
		line-height: 1.3;
		margin-bottom: 40px;

		strong {
			font-weight: 500;
		}

		span {
			display: block;
		}
	}

	.politic {
		color: #bbb;
		font-size: 16px;
		font-weight: 300;
		line-height: 20px;
		text-decoration: none;
		border-bottom: 1px solid #bbb;

		&:hover {
			border-bottom-color: transparent;
		}
	}


	@media (min-width: $screen-sm-min) {
		background-size: auto auto;

		.text-block {
			text-align: left;
		}
	}


	@media (min-width: $screen-md-min) {
		background-size: auto auto;

		.text-block {
			padding-top: 90px;
		}

		.h2 {
			font-size: 40px;
		}

		.h3 {
			font-size: 30px;
			margin-bottom: 40px;
		}

		.text {
			font-size: 22px;
			font-weight: 300;
			margin-bottom: 100px;
		}
	}


	@media (min-width: $screen-lg-min) {

		background-size: auto auto;

		.text-block {
			padding-top: 90px;
		}

		.text {
			margin-bottom: 120px;
		}
	}
}