.b07 {
	padding-top: 50px;
	padding-bottom: 50px;
	
	.h2 {
		font-size: 28px;
		font-weight: 500;
		line-height: 30px;
		text-align: center;
		margin-bottom: 40px;
		font-family: $font-din;
	}
	
	.use {
		min-height: 60px;
		font-size: 16px;
		line-height: 24px;
		padding-top: 60px;
		text-align: center;
		margin-bottom: 30px;
		
		&.item1 {
			background: url("../img/b07_item1.png") 50% 0 no-repeat;
		}

		&.item2 {
			background: url("../img/b07_item2.png") 50% 0 no-repeat;
		}

		&.item3 {
			background: url("../img/b07_item3.png") 50% 0 no-repeat;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 90px;
		padding-bottom: 70px;

		.h2 {
			font-size: 36px;
			line-height: 40px;
			margin-bottom: 80px;
		}

		.use {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	@media (min-width: $screen-md-min) {

		.use {
			padding-right: 0;
			max-width: 330px;
			padding-left: 80px;
			padding-top: 0;
			text-align: left;

			&.item1 {
				background-position: 0 0;
			}

			&.item2 {
				background-position: 0 0;
			}

			&.item3 {
				background-position: 0 0;
			}
		}
	}
}