.b10 {
	color: #fff;
	padding-top: 55px;
	background: url("../img/b10_bg.jpg") 50% 100% no-repeat;
	background-size: cover;

	.h2 {
		font-size: 28px;
		font-weight: 200;
		line-height: 30px;
		text-align: center;
		font-family: $font-din;
		margin-bottom: 45px;

		strong {
			font-size: 30px;
			font-weight: 500;
		}
	}

	.h3 {
		max-width: 720px;
		margin: 0 auto;
		font-size: 28px;
		line-height: 40px;
		text-align: center;
		font-family: $font-din;
	}

	.text {
		font-size: 19px;
		font-weight: 300;
		line-height: 32px;
		text-align: center;
		margin-bottom: 80px;

		a {
			color: #fff;
			text-decoration: none;
			border-bottom: 1px solid #fff;
		}
	}

	.promo {
		font-size: 30px;
		font-weight: 200;
		line-height: 34px;
		text-align: center;
		margin-bottom: 25px;
		font-family: $font-din;
	}

	.action {
		color: #444;
		padding: 40px 20px;
		background: #ebf0f4;

		.action-header {
			color: #316396;
			font-size: 30px;
			font-weight: 700;
			line-height: 30px;
			text-align: center;
			font-family: $font-din;
		}

		.action-title {
			color: #444;
			font-size: 26px;
			font-weight: 500;
			line-height: 30px;
			text-align: center;
			max-width: 720px;
			margin: 0 auto 50px auto;
			font-family: $font-din;

			span {
				color: #888;
				font-size: 18px;
				display: block;
			}
		}

		.action-list {

			li {
				font-size: 18px;
				line-height: 24px;
				position: relative;
				padding-left: 32px;
				margin-bottom: 15px;

				&:before {
					left: 0;
					top: 5px;
					content: '';
					width: 10px;
					height: 10px;
					position: absolute;
					border: 1px solid #444;
					@include border-radius(50%);
				}
			}
		}

		.action-timer {
			display: none;
			padding-top: 30px;

			.action-timer-title {
				color: #888;
				overflow: hidden;
				font-size: 18px;
				font-weight: 700;
				line-height: 24px;
				margin-bottom: 20px;
				text-align: center;

				span {
					position: relative;
					display: inline-block;

					&:after,
					&:before {
						top: 50%;
						width: 50px;
						content: '';
						position: absolute;
						border-bottom: 1px solid #ccd7e7;
					}

					&:after {
						left: -65px;
					}

					&:before {
						right: -65px;
					}
				}
			}
		}
	}

	.video-inner {
		border: 4px solid #4f72b2;
	}

	.action-body {
		margin-bottom: 40px;
	}

	@media (min-width: $screen-sm-min) {

		.h2 {
			font-size: 36px;
			line-height: 40px;

			strong {
				font-size: 40px;
			}
		}

		.text {
			margin-bottom: 100px;
		}

		.h3 {
			font-size: 42px;
			line-height: 46px;
		}

		.promo {
			font-size: 50px;
			line-height: 50px;
		}

		.action {
			margin: 0 40px;
			padding: 40px 40px;
			background: #ebf0f4;

			.action-timer {
				padding-top: 10px;
				display: block;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.text {
			width: 620px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 140px;
		}

		.action {
			padding: 40px 100px;

			.action-timer {
				padding-top: 45px;
			}
		}

		.action-body {
			margin-bottom: 40px;
		}
	}
}

.timer {
	padding: 0;
	width: 490px;
	margin: 0 auto;
	position: relative;

	li {
		float: left;
		width: 102px;
		color: #464646;
		margin: 0 10px;
		position: relative;

		.timer-value {
			width: 102px;
			height: 102px;
			display: block;
			color: #4f72b2;
			padding: 20px 0;
			font-size: 48px;
			font-weight: 300;
			line-height: 56px;
			text-align: center;
			margin-bottom: 10px;
			vertical-align: middle;
			border: 1px solid #4f72b2;
			@include border-radius(50%);
		}

		.timer-legend {
			color: #b4c5d6;
			display: block;
			font-size: 11px;
			line-height: 12px;
			text-align: center;
		}
	}
}