.b05 {
	color: #444;
	padding-top: 40px;
	padding-bottom: 100px;
	background: #fefefe url("../img/b05_bg.jpg") 50% 100% no-repeat;

	.h2 {
		font-size: 28px;
		font-weight: 500;
		line-height: 30px;
		position: relative;
		text-align: center;
		margin-bottom: 40px;
		font-family: $font-din;

		span {
			z-index: 200;
			position: relative;
			background: #fff;
			padding-right: 40px;
			display: inline-block;
		}
	}

	.wisdom {
		width: 100%;
		display: table;
		min-height: 80px;
		max-width: 470px;
		font-size: 16px;
		line-height: 24px;
		padding-left: 100px;
		margin-bottom: 50px;

		&.item1 {
			background: url("../img/b05_item1.png") 0 50% no-repeat;
		}

		&.item2 {
			background: url("../img/b05_item2.png") 0 50% no-repeat;
		}

		&.item3 {
			background: url("../img/b05_item3.png") 0 50% no-repeat;
		}

		&.item4 {
			background: url("../img/b05_item4.png") 0 50% no-repeat;
		}

		.wisdom-inner {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.divider {
		padding-top: 10px;
		margin-bottom: 60px;
		border-bottom: 1px solid #eee;
	}

	.advantage {
		max-width: 460px;
		font-size: 18px;
		line-height: 28px;
		padding-left: 30px;
		margin: 0 auto 20px auto;
		position: relative;

		&:before {
			left: 0;
			top: 10px;
			width: 10px;
			height: 10px;
			content: ' ';
			position: absolute;
			background: #5792e8;
			@include border-radius(50%);
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 90px;
		padding-bottom: 220px;

		.h2 {
			font-size: 36px;
			text-align: left;
			line-height: 40px;
			margin-bottom: 70px;

			&:before {
				top: 50%;
				right: 0;
				left: 50px;
				content: '';
				position: absolute;
				border-bottom: 1px solid #eee;
			}
		}

		.wisdom {
			padding-left: 120px;
		}
	}

	@media (min-width: $screen-md-min) {

		.advantage {

		}
	}
}