.b02 {
	padding-top: 80px;
	padding-bottom: 80px;
	background: url("../img/b02_bg.jpg") 50% 100% no-repeat;

	.video-box {

	}

	@media (min-width: $screen-lg-min) {

		.video-box {
			width: 1106px;
			height: 640px;
			margin: 0 auto;
			padding: 44px 135px 0 135px;
			background: url("../img/b02_notebook.png") 50% 0 no-repeat;
		}
	}
}