.header {
	background: #fff;
	padding-top: 23px;
	padding-bottom: 23px;

	.header-logo {
		width: 226px;
		margin: 0 auto 10px auto;
	}

	.header-slogan {
		color: #666;
		font-size: 15px;
		line-height: 23px;
		text-align: center;
	}

	.header-phone {
		height: 54px;
		padding: 12px 0;
		text-align: center;

		a {
			color: #444;
			font-size: 28px;
			line-height: 30px;
			padding-left: 36px;
			text-decoration: none;
			display: inline-block;
			font-family: $font-din;
			background: url("../img/icon-tel.png") 0 50% no-repeat;
		}
	}

	.header-callback {
		height: 54px;
		padding: 6px 0;
		margin-left: 15px;
		text-align: center;
	}

	@media (min-width: $screen-sm-min) {

		.header-logo {
			margin: 0;
			float: left;
		}

		.header-phone {
			float: right;
			text-align: right;
		}

		.header-callback {
			float: right;
		}
	}
}

.b01 {
	color: #fff;
	padding-top: 50px;
	position: relative;
	padding-bottom: 150px;
	background: url("../img/b01_bg.jpg") 50% 100% no-repeat;
	background-size: cover;

	.h1 {
		font-size: 30px;
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: 40px;
		text-transform: uppercase;

		span {
			color: #bcdfff;
			font-size: 20px;
			font-weight: 200;
			line-height: 20px;
			display: block;
		}
	}

	.text {
		font-size: 24px;
		line-height: 1.2;
		margin-bottom: 60px;
	}

	.box {
		width: 100%;
		text-align: center;
		padding: 20px 15px;
		background: #1e5590;
		margin-bottom: 35px;

		.worktime {
			font-size: 16px;
			font-weight: 300;
			line-height: 28px;
			margin-bottom: 10px;

			span {
				font-size: 18px;
				font-weight: 700;
			}
		}

		.worktext {
			font-size: 12px;
			line-height: 20px;
		}
	}

	.btn-large {
		margin: 0 auto;
	}

	.bottom {
		left: 0;
		right: 0;
		bottom: 40px;
		text-align: center;
		position: absolute;

		.btn-video {
			color: #fff;
			font-size: 14px;
			line-height: 20px;
			position: relative;
			padding-bottom: 45px;
			display: inline-block;
			text-decoration: none;
			background: url("../img/icon-scroll.png") 50% 100% no-repeat;
		}
	}

	@media (min-width: $screen-sm-min) {
		min-height: 950px;
		padding-top: 100px;
		background-size: auto auto;

		.h1 {
			font-size: 50px;
			margin-bottom: 60px;
		}

		.text {
			font-size: 40px;
			padding-top: 45px;
			position: relative;
			padding-bottom: 30px;

			&:before {
				top: 0;
				left: 0;
				width: 49px;
				height: 36px;
				content: ' ';
				position: absolute;
				background: url("../img/quote-left.png") 0 0 no-repeat;
			}

			&:after {
				right: 0;
				bottom: 0;
				width: 49px;
				height: 36px;
				content: ' ';
				position: absolute;
				background: url("../img/quote-left.png") 0 0 no-repeat;
			}
		}

		.box {
			width: 370px;

			.worktime {
				font-size: 21px;

				span {
					font-size: 36px;
					font-weight: 700;
				}
			}

			.worktext {
				font-size: 16px;
			}
		}

		.btn-large {
			margin: 0;
		}
	}

	@media (min-width: $screen-md-min) {

		.h1 {
			font-size: 55px;
			margin-bottom: 70px;
		}

		.text {
			font-size: 45px;
		}
	}

	@media (min-width: $screen-lg-min) {



		.text {
			font-size: 45px;
		}
	}
}