.b08 {
	color: #444;
	padding-top: 40px;
	padding-bottom: 40px;

	.h2 {
		font-size: 28px;
		font-weight: 500;
		line-height: 30px;
		position: relative;
		text-align: center;
		margin-bottom: 40px;
		font-family: $font-din;

		span {
			z-index: 200;
			position: relative;
			background: #fff;
			padding-right: 40px;
			display: inline-block;
		}
	}

	.review {
		margin: 0 0 60px 0;

		.review-author {
			margin-bottom: 30px;
		}

		.review-author-photo {
			width: 110px;
			height: 110px;
			overflow: hidden;
			margin: 0 auto 15px auto;
			@include border-radius(50%);
		}

		.review-author-name {
			text-align: center;
			font-family: $font-din;

			.a1 {
				font-size: 20px;
				font-weight: 500;
				line-height: 24px;
			}

			.a2 {
				color: #888;
				font-size: 16px;
				line-height: 20px;
			}
		}

		.review-text {
			font-size: 16px;
			line-height: 27px;
		}
	}

	.review-hide {
		display: none;
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 90px;
		padding-bottom: 90px;

		.h2 {
			font-size: 36px;
			text-align: left;
			line-height: 40px;
			margin-bottom: 70px;

			&:before {
				top: 50%;
				right: 0;
				left: 50px;
				content: '';
				position: absolute;
				border-bottom: 1px solid #eee;
			}
		}

		.review {
			margin: 0 10px 40px 10px;

			.review-text {
				text-align: justify;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 90px;
		padding-bottom: 90px;

		.review {
			margin: 0 10px 40px 10px;

			.review-author {
				margin-bottom: 30px;
			}

			.review-author-photo {
				margin: 0;
				float: left;
			}

			.review-author-name {
				text-align: left;
				margin-left: 150px;
				padding-top: 30px;
				font-family: $font-din;

				.a1 {
					font-size: 20px;
					font-weight: 500;
					line-height: 24px;
				}

				.a2 {
					color: #888;
					font-size: 16px;
					line-height: 20px;
				}
			}

			.review-text {
				text-align: justify;
				margin: 0 16px;
				padding-left: 40px;
				padding-right: 30px;
				border-left: 1px solid #eee;
			}
		}
	}
}