.footer {
	padding-top: 30px;
	padding-bottom: 40px;

	.favorites {
		right: 0;
		display: none;
		top: -25px;
		color: #a0b6dc;
		font-size: 14px;
		line-height: 20px;
		padding-left: 23px;
		text-decoration: none;
		position: absolute;
		background: url("../img/icon-star.png") 0 50% no-repeat;

		&:hover {
			color: #1a60d9;
		}
	}

	.first {
		margin-bottom: 15px;
		font-family: $font-din;

		li {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 15px;

			a {
				color: #aaa;
				text-decoration: none;
				border-bottom: 1px solid #aaaaaa;
			}
		}
	}

	.last {
		font-family: $font-din;

		li {

			&:first-child {
				color: #aaa;
				font-size: 20px;
				line-height: 24px;
				margin-bottom: 15px;
			}

			span {
				color: #888;
				font-size: 16px;
				line-height: 20px;
				padding-left: 35px;
				margin-bottom: 5px;
				display: inline-block;
			}
			
			&.email {
				
				span {
					background: url("../img/icon-mail.png") 0 50% no-repeat;
				}
			}

			&.skype {

				span {
					background: url("../img/icon-mail.png") 0 50% no-repeat;
				}
			}

			&.tel {

				span {
					background: url("../img/icon-phone.png") 0 50% no-repeat;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.footer-content {
			margin-top: 25px;
			padding-top: 75px;
			padding-left: 100px;
			position: relative;
			border-top: 1px solid #c0d1ee;

			&:before {
				left: 0;
				top: -19px;
				content: '';
				width: 88px;
				height: 90px;
				position: absolute;
				background: url("../img/footer-logo.png") 0 0 no-repeat;
			}
		}

		.favorites {
			display: inline-block;
		}

		.first {
			float: left;
			width: 260px;
			margin-top: -40px;
			margin-left: 50px;

			li {
				font-size: 18px;
			}
		}

		.last {
			float: right;
			width: 220px;
			margin-top: -40px;

			li {
				font-size: 18px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.first {
			margin-left: 140px;
		}
	}
}