.btn-large {
	margin:0;
	width: 256px;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	background: #fff;
	text-align: center;
	position: relative;
	padding: 20px 15px;
	display: block;
	font-weight: 500;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	font-family: $font-din;
	border-bottom: 5px solid #c0cade;
	@include border-radius(12px);
	@include transition(.2s);

	.one {
		color: #444;
		font-size: 22px;
		line-height: 30px;
		display: block;
		text-transform: uppercase;
	}

	.two {
		color: #888;
		font-size: 15px;
		line-height: 24px;
		display: block;
	}

	&:hover {
		border-bottom-color: transparent;
	}

	&:active {
		top: 1px;
	}
}


.btn-blue {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	font-size: 14px;
	cursor: pointer;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 15px 35px;
	background: #6685be;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	font-family: $font-din;
	display: inline-block;
	text-transform: uppercase;
	touch-action: manipulation;
	@include border-radius(8px);
	@include transition(.2s);

	&:hover {
		background: #4f72b2;
	}

	&:active {
		top: 1px;
	}
}

.btn-sm {
	padding: 10px 10px;
	font-size: 12px;
	font-family: $font-segoe;
	@include border-radius(4px);
}