
.form-block {
	max-width: 460px;
	background: #fff;
	padding: 40px 20px;
	margin: 0 auto;

	.form-title {
		color: #4f72b2;
		font-size: 28px;
		font-weight: 700;
		line-height: 30px;
		text-align: center;
		font-family: $font-din;
		text-transform: uppercase;
		margin: 0 -15px 10px -15px;
	}

	.form-sibtitle {
		color: #888;
		font-size: 16px;
		line-height: 20px;
		margin: 0 -15px 20px -15px;
		text-align: center;
	}


	@media (min-width: $screen-md-min) {
		padding: 80px 40px 60px 40px;

		.form-title {
			margin: 0 -30px 10px -30px;
		}
	}


	@media (min-width: $screen-lg-min) {

		padding: 80px 60px 60px 60px;

	}
}


.cf-ol {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin-bottom: 10px;
		position: relative;

		&:before {
			top: 50%;
			right: 18px;
			content: '*';
			z-index: 100;
			color: #4f72b2;
			font-size: 18px;
			line-height: 20px;
			position: absolute;
			margin-top: -10px;
		}
	}

	input[type='text'] {
		margin: 0;
		width: 100%;
		color: #888;
		border: none;
		outline: none;
		font-size: 18px;
		font-weight: 200;
		line-height: 20px;
		padding: 16px 30px;
		display: inline-block;
		font-family: $font-din;
		background: #f9f9f9;
		@include placeholder(#888);

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:focus {
			@include placeholder(transparent);
		}
	}
}


.sendbutton {
	margin:0;
	width: 100%;
	color: #fff;
	border: none;
	outline: none;
	display: block;
	font-size: 18px;
	cursor: pointer;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 24px 10px;
	background: #6685be;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	font-family: $font-din;
	margin-top: 20px;
	text-transform: uppercase;
	touch-action: manipulation;
	@include border-radius(10px);
	@include transition(.2s);

	&:hover {
		background: #4f72b2;
	}

	&:active {
		top: 1px;
	}
}